# =========================
# Python (backend)
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtual environment
venv/
.env

# Python build
build/
dist/
*.egg-info/

# =========================
# Node (frontend)
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build
frontend/build/

# =========================
# Environment variables
# =========================
.env
.env.local

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Database
# =========================
*.sqlite3
*.db

# =========================
# 사진은 업로드 안함, 폴더 구조는 유지 (용량문제 / 구글 클라우드에 업로드 되어있음.)
# =========================
data/*
!data/.gitkeep
/data_extra