# =========================
# Python (backend)
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtual environment
venv/
.env

# Python build
build/
dist/
*.egg-info/

# =========================
# Node (frontend)
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build
frontend/build/

# =========================
# Environment variables
# =========================
.env
.env.local

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Database
# =========================
*.sqlite3
*.db

# =========================
# 이미지 데이터 제외
# 폴더 구조/README 유지
# =========================

data/**
!data/
!data/README.md
!data/.gitkeep

data_boundary_low_mid/**
!data_boundary_low_mid/
!data_boundary_low_mid/README.md
!data_boundary_low_mid/.gitkeep